.navitems,.navitems1{
    margin-top: 15px;
    margin-left: 15px;
}
.logo{
    width: 100px;
}
.navitems:hover{
    color: black;
    font-weight: bold;
}

.navitems.visited{
    color: rgb(90, 90, 242);
    font-weight: bold;

}
.container{
    position:sticky ;
}